.card-body:hover {
  /* border-radius: 2em;
  border-color: red;
  border-width: 2em; */
  border:2px #FFAC55 solid;
 }
 p.card-text::-webkit-scrollbar {
  display: none;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.horizontal-center{
  text-align: center;
  margin: auto;
  display: block;
}
.link {
  color: #FFF;
}
